code(data-trim, contenteditable).
  &lt;script src=&quot;bower_components/angular/angular.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;bower_components/angular-filter/dist/angular-filter.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;bower_components/angular-resource/angular-resource.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;bower_components/angular-route/angular-route.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;latlon/latlon.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;localOmaha/local.omaha.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;localOmaha/local.omaha.business.list.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;localOmaha/local.omaha.business.thumbnail.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;localOmaha/local.omaha.resource.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;localOmaha/local.omaha.service.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;components/version/version.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;components/version/version-directive.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;components/version/interpolate-filter.js&quot;&gt;&lt;/script&gt;
