code(data-trim, contenteditable).
    $ git add -p
    diff --git a/LocalOmahaWebapp/app/assets/styles.css b/LocalOmahaWebapp/app/assets/styles.css
    index a4fbbbb..88672d5 100644
    --- a/LocalOmahaWebapp/app/assets/styles.css
    +++ b/LocalOmahaWebapp/app/assets/styles.css
    @@ -1,18 +1,23 @@
     #compass-business {
         float: left;
    -    width: 80%;
    +    width: 75%;
         padding: 0.5em;
     }
     
     #close-compass {
         float: right;
    -    width: 8%;
    +    width: 15%;
         font-size: 1.5em;
    +    text-align:right;
         cursor: pointer;
     }
    }
    Stage this hunk [y,n,q,a,d,/,j,J,g,s,e,?]? y

