
head 
  title LocalOmaha.org


section
  section.index-section(data-state="index-slide",title="LocalOmaha.org")
    h2 LocalOmaha.org
    div Experiments in Community Building using AngularJS
    div by Sandi Barr &amp; Matt Payne
    div 3/20/2015
    ul
      h6 Updated Fri Mar 20 07:24:03 CDT 2015
    div
      img(src="assets/localOmaha.png",alt="AngularJS App")

  section
    div
      img(src="assets/localOmaha.png",alt="AngularJS App")

  section
    ul
      li The source is on BitBucket
      li 
        a(href="http://goo.gl/6Bnbha", target="_blank") https://bitbucket.org/MattPayneOrg/localomaha
      li Source for these slides is also on BitBucket (reveal.js is fun)

  section
    h2 About Us
    ul
      li Sandi Barr
        ul 
          li 
            | Software Engineer at 
            a(href="http://www.Aviture.com",target="_blank") Aviture
          li 
            a(href="https://twitter.com/SandikBarr", target="_blank") @SandikBarr

      li Matt Payne
        ul 
          li 
            | Software Engineer at 
            a(href="http://www.Solutionary.com",target="_blank") Solutionary
          li 
            a(href="https://twitter.com/MattPayneOrg", target="_blank") @MattPayneOrg

