section
  // slide 2a
  h2 
   a(href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/",target="_blank") Flexbox
  h3 with Art Doler
  ul
    li Define the flex container
    li Allow wrapping for _really_ narrow viewports
    li Justify the content
    li Align to the baseline
  pre
    include flexbox_etc/2a

section
  // slide 2a image
  h3 Easy Peasy!
  div
    img(src="assets/app_screen_shot.png", alt="AngularJS app")

section
  // slide 2b 
  h2 Git Patch Mode
  pre
    include flexbox_etc/2b

