section
  h2 Screen Scraping Made Easy
  ol
    li HTMLUnit.sf.net, JTidy, dom4j, xpath -- chaos!
    // RavingLogic
    li Many thanks to Andrew Neely, @RavingLogic, for suggesting nokogiri!
    li you should go to his talks!!

section
  h2 Let's scrape
  pre
    include scrape/1

section
  h2 Saving the output as JSON
  pre
    include scrape/2

