title: LocalOmaha.org

include about

section
  h2 We want to tell you about
  ol
    li Experiments in building community
      ol
        li An idea from Des Moines
        li LocalOmaha.org -- helping 
          a(href="http://www.shoplocalomaha.com/", target="_blank") Omaha Local Independent Business Alliance 
    li Screen scraping made easy
      ol
        li Java's httpunit.sf.net, jtidy, dom4j, and xpath
        li nokogiri!  Thanks Andy Neely (@RavingLogic)
        li Want to try nokogiri in a browser?
           a(href="https://scraperwiki.com/", target="_blank")  ScraperWiki.com
    li Our Angular app
    li Simple Spring Boot tools: 
      a(href="http://goo.gl/TG7SvE",target="_blank") SpringBootHackyDemo
    li Summary of challenges for you to try at home

section
  h2 Community building 
  h3 Des Moines style!
  h3 @DsmWebGeeks
  ol
    li Coder Dojos -- a project that takes one to four meetings
    li Meeting starts with small lecture about the code and the challenges
    li People pair, tripple, or quad while working on the challenges
    li When the timebox is over, there are round robin discussions of the work
    li Pull requests to the organizer's repository

section
  h2 Changes we wanted to try
  ol
    li Just dojos instead of lectures
    li Flipping our meetings
    ol
      ul CodeSchool.com
      ul Phone cat tutorial
    li Whole lot of cloning going on
    li BitBucket.org lets you start a private project then make it public
    li Freedom to experiment, explore, and do things without the engineering discipline of work
    li Emphasis on improvisation

section
  // http://techwhirl.com/lavacon-session-amber-hunt-improv-content-strategy/
  h2 Tina Fey's Improv Rules
  ol
    li Yes
    li Yes, and...
    li Make statements
    li No mistakes

section
  h2 LocalOmaha.org experiment
  ol
    li Kicked off 1/20/15
    li Sandi -- software architect and community builder
    li Matt -- Announcement at Omaha Java Users' Group (OJUG.org)
    li The Flipping Experience
      ul
        li Tried flipping instead of @DsmWebGeeks into lecture
        li Did not work as well.   People are busy.
    li Dojo at UNOCEC: Saturday 2/7/15 Noon – 5pm.
      ul
        li Sandi & Nick -- Browserify
        li Michell & Matt -- From scratch with AngularSeed
        li Abby & Ross -- Server side with Sinatra
    li Dojo at Omaha Coding Women: Monday 2/23/15 6pm - 8pm
      ul
        li Heather & Cece
        li Matt & Chad
    li Dojo at Aviture: Thursday, 3/5/15 6:00 PM to 8:00 PM 
      ul
        li Sandi & Art
        li Matt & Ross

section
  h2 Cool things from the Dojos
  h3 Take aways -- lessons learned
  ol
    li New People!
    li New Pairing experiences
    li Able to "play" 
    li New Coding Technology -- Browserfy

section
  h2 So, we want you to try
  ol
    li Pair programming at meetings 
    ol
       li To code
       li To learn a new technique -- e.g. browserify
    li Forking and sending pull requests
    li Play with new technology
    li Listen for suggestions -- e.g. Nokogiri

section
  h2 Please Remember
  ol
    li Can't get everything you want done in a dojo
    li two hours is not that long
    li following up on ideas is tricky -- SQUIRREL!

section
  include scrape

section
  h2 
    a(href="http://LocalOmaha.org/app", target="_blank") LocalOmaha.org/app 
  h3 the angular app

// browserify is from Sandi's 3/14/15 markdown
section 
  include browserify

section
  include flexbox_etc

section
  h2 Spring Boot!
  ol
    li Spring Boot is new with Spring 4
    li Lots of conventions.   
    li Allows embedded web servers (jetty and tomcat)
    li Simple example:
      a(href="http://goo.gl/TG7SvE",target="_blank") SpringBootHackyDemo
    li Already built in 
      a(href="http://LocalOmaha.org/SpringBoot", target="_blank") LocalOmaha.org/SpringBoot
      ul
        li It is only a 23M "fat" jar :-)

section
  h2 Summary of Challenges to try at home
  ol
    li Do something with local data
    li Get permision from your version of the OL!BA to scrape their website
    li Build a json file using LocalOmahaNokogiriScraperMatt and try out LocalOmahaWebapp
    li Work people through the github/bitbucket fork, commit, push, pull request workflow
    li Get your java pals to get hot reloading working for SpringBootHackyDemo (and send Matt a pull request please)
    li Try out pair programming 
      a(href="http://www.pairprogramwith.me/", target="_blank") http://www.PairProgramWith.me/
    li Remember the user groups do not have to be just like work.
       ol
         li Remember Tina Fey's rules of improv: Yes, Yes and..., Make statements, No mistakes
         li "Master your instrument, Master the music, and then forget all that *!xy!@ and just play." -- Charlie Parker

include thanks

section
  // http://en.wikipedia.org/wiki/%E2%80%9330%E2%80%93
  h2 
    a(href="http://en.wikipedia.org/wiki/%E2%80%9330%E2%80%93", target="_blank") -30-

