section 
  h2 Many thanks to:
  ol
    li Aviture
    a(href="https://twitter.com/Aviture", target="_blank") @Aviture
    li Omaha Coding Women
    a(href="https://twitter.com/OmaCodingWomen", target="_blank") @OmaCodingWomen
    li UNO Community Engagement Center
    a(href="https://twitter.com/", target="_blank") @UNOCEC 
