code(data-trim, contenteditable).
  module.exports = function() {
    return {
      restrict: 'E',
      templateUrl: 
        'js/localOmaha/local.omaha.business.thumbnail.html',
      scope: {
        ...
      },
      controller: function($scope) {
        ...
      }
    };
  };
