code(data-trim, contenteditable).
    var latlon = require('../latlon');
    ...
    latlon.getDistanceFromCoords($scope.userLocation, 
      businessLocation)
    latlon.getBearingFromCoords($scope.userLocation, 
      businessLocation)
